---
layout: default
title: myDocumentation
---

{% for category in site.categories %}
	{% if category.first == site.project_main_category %}
	<div class="firstcatbloc" id="{{ category | first | remove:' ' }}">
	{% else %}
    <div class="catbloc" id="{{ category | first | remove:' ' }}">
    {% endif %}
        <h2>{{ category | first }}</h2>
        
        <ul>
           {% for posts in category %}
             {% for post in posts %}
               {% if post.url %}
                 <li>
                   	 {% for category_date in site.project_categories_with_dates %}
                   	 	{% if category.first == category_date %}
                   	 		<time>{{ post.date | date: "%-d %B %Y" }}</time>
                   	 	{% endif %}
                   	 {% endfor %}                 
                   <a href="{{ post.url }}">
                    {{ post.title }}
                   </a>
                 </li>
               {% endif %}
             {% endfor %}
           {% endfor %}
        </ul>
    </div>
{% endfor %}