
{% if site.simple_color.enable == true %}

$body_color: {{ site.simple_color.third_color }}

$nav_color: {{ site.simple_color.secondary_color }}
$nav_font_color: {{ site.simple_color.main_color }}

$content_color: {{ site.simple_color.main_color }}
$content_font_color: {{ site.simple_color.secondary_color }}
$content_link_font_color : {{ site.simple_color.third_color }}

$title_font_color: {{ site.simple_color.secondary_color }}
$description_font_color: {{ site.simple_color.secondary_color }}

{% endif %}
