<head>
	<meta charset="UTF-8">
	<link rel="alternate" type="application/rss+xml" title="Follow us ! :)" href="/flux.xml"/>
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	{% if site.url %}
	<link rel="canonical" href="http://{{ site.url }}"/>
	{% endif %}
	{% if page.description %}
	<meta name="description" content="{{ page.description }}"/>
	{% endif %}
	{% if page.tags %}
	<meta name="keywords" content="
		{% for tag in page.tags %}

			{{ tag }},

		{% endfor %}
	"/>
	{% endif %}

	<title>{{ site.project_name }}</title>
	<meta name="viewport" content="width=device-width"/>
	{% if site.project_logo %}
	<link href="{{ site.project_logo }}" type="image/png" rel="icon" >
	{% endif %}
</head>
