/* Text  */

.article-header
    title
        font-size: 1.8em
        color: $content_font_color
        display : inline


article
    h1
        font-size: 1.3em
        color: $content_font_color
    h2
        font-size: 1.2em
        font-style: bold
        color: $content_font_color
    h3
        font-size: 1.2em
        color: $content_font_color
    h4
        font-size: 1.1em
        font-style: bold
        color: $content_font_color
    h5
        font-size: 1.1em
        color: $content_font_color
    h6
        font-size: 1em
        font-style: bold
        color: $content_font_color
    p
        text-align: justify
        font-size: 1em
        color: $content_font_color
    a
        font-size: 1em
        font-style: bold
        color: $content_link_font_color
    strong
        font-size: 1em
        font-style: bold
        color: $content_font_color
    em
        font-size: 1em
        font-style: italic
        color: $content_font_color

q, blockquote
    font-size: 1.1em
    font-style: italic

/* Block  */


.content
    background-color: $content_color
    padding: 0% 0% 0% 0%
    margin: 0%

article
    padding: 5% 5% 5% 5%

//.article_header

.catbloc
    padding: 0% 0% 0% 0%

.catbloc:not(:target)
    display: none

/* List  */

ul
    list-style-type: none
    padding: 0% 0% 0% 0%
    margin: 0% 0% 0% 0%

li
    padding: 0% 0% 0% 0%

article
    ul
        list-style-type: circle
