header
    position: absolute
    top: 0%
    left: 50%
    transform: translate(-50%, -0%)
    width: 100%
    max-width: 700px
    height: 22%
    padding: 5% 5% 5% 5%

header
    title
        display: block
        font-size: 2em
        font-style: bold
        color: $title_font_color

header
    strong
        text-align: justify
        font-size: 1.1em
        font-style: bold
        color: $description_font_color

header
    .logo
        float: left

header
    img
        width: 200px
        height: 200px


header
    .text
        float: left
        margin-left: 5%
        position: relative
        top: 0%
        max-width: 60%
