body {
	background-color:  #676767;
}

/***************************************
 * Header
 ***************************************/

header {

}

header title  {

}

header strong {

}

header img {

}

/***************************************
 * Navigation
 ***************************************/

nav {

}

nav a {

} 

/***************************************
 * Footer
 ***************************************/

footer {

}

footer p {

}

footer a {

}

/***************************************
 * Content
 ***************************************/

/* Text  */

article title {
	font-size: 1.6em;
	font-style: bold;
	color: #1c1c1c;
	display: block;
}	


h1 {
	font-size: 1.6em;
	color: #1c1c1c;
}

h2 {
	font-size: 1.4em;
	font-style: bold;
	color: #1c1c1c;
}

h3 {
	font-size: 1.4em;
	color: #1c1c1c;
}

h4 {
	font-size: 1.2em;
	font-style: bold;
	color: #1c1c1c;
}

h5 {
	font-size: 1.2em;
	color: #1c1c1c;
}

h6 {
	font-size: 1em;
	font-style: bold;
	color: #1c1c1c;
}

.content p {
	text-align: justify;
	font-size: 1em;
	color: #1c1c1c;
}

.content a {
	font-size: 1em;
	font-style: bold;
	color: #000000;
}

.content strong {
	font-size: 1em;
	font-style: bold;
	color: #1c1c1c;
}

.content em {
	font-size: 1em;
	font-style: italic;
	color: #1c1c1c;
}

q, blockquote {
	font-size: 1.1em;
	font-style: italic;
}

/* Block  */


.content {

	max-width: 700px;
	background-color: #d3d3d3;
	position: absolute;
    left: 50%;
	transform: translate(-50%, -0%);
	padding: 0px 0px 0px 0px;	

}

article {
	padding: 5% 5% 5% 5%;
}

.catbloc {
	padding: 0px 0px 0px 0px;
}

.catbloc:not(:target) {
    display: none;

}

/* List  */

ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

li {
	padding: 0px 0px 0px 0px;
}

article ul {
	list-style-type: circle;
}